@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@if (CompositionProgressState.Value.IsWaiting)
{
    <MudGrid Justify="Justify.Center">
        <MudAnimate
            Selector=".id1"
            Duration="2"
            AnimationType="AnimationType.ShadowInset"
            Value="360"
            ValueSecondary="null"
            Hover="false"
            Delay="0"
            Infinite="true"
            IterationCount="1"
            AnimationTiming="AnimationTiming.EaseInOut"
            AnimationDirection="AnimationDirection.AlternateReverse"
            AnimationFillMode="AnimationFillMode.None"
            Paused="false"/>
        <MudItem xs="12" sm="12" md="12" lg="12" xl="12" xxl="12">
            <div class="d-flex flex-shrink align-center justify-center ma-0" style="height:300px;">
                <MudButton Class="id1 d-flex align-center justify-center"
                           Variant="Variant.Filled"
                           StartIcon="@Icons.Material.Filled.ElectricBolt"
                           Color="Color.Tertiary"
                           Style="width: 300px; height: 100px;"
                           OnClick="() => Dispatcher.Dispatch(new Compose())">
                    <MudText Typo="Typo.button" Style="font-size:large">Compose</MudText>
                </MudButton>
            </div>
        </MudItem>
    </MudGrid>
}
else
{
    <MudGrid Class="my-3" Justify="Justify.FlexStart">
        <MudItem Class="ml-3">
            <MudButton StartIcon="@Icons.Material.Sharp.Cancel"
                       Variant="Variant.Filled"
                       IconColor="Color.Primary"
                       Disabled="@(!CompositionProgressState.Value.IsLoading)"
                       OnClick="() => Dispatcher.Dispatch(new CancelComposition())"
                       FullWidth="true">
                Cancel
            </MudButton>
        </MudItem>
    </MudGrid>
    <MudCard Class="rounded my-3 mx-3 px-4 py-4" Elevation="3" Outlined="true">
        <MudGrid Justify="Justify.Center">
            @if (!CompositionProgressState.Value.IsWaiting)
            {
                <MudItem xs="12" sm="12" md="12" lg="12" xl="12" xxl="12">
                    <MudText Typo="Typo.h6">@CompositionProgressState.Value.Message</MudText>
                </MudItem>
                <MudItem xs="12" sm="12" md="12" lg="12" xl="12" xxl="12">
                    <MudProgressLinear Min="0"
                                       Max="100"
                                       Value="@(CompositionProgressState.Value.OverallProgress)"
                                       Size="Size.Large"
                                       Color="Color.Primary"
                                       Striped="@(CompositionProgressState.Value.OverallProgress < 100)">

                        <MudText Typo="Typo.button">
                            <b>@($"{double.Round(CompositionProgressState.Value.OverallProgress, MidpointRounding.ToEven)}%")</b>
                        </MudText>
                    </MudProgressLinear>
                </MudItem>
            }
        </MudGrid>
    </MudCard>
}
